@import "compass", "compass/reset", "compass/css3/font-face", "media-queries", "compass/css3/background-size", "compass/css3/border-radius", "compass/css3/transition";
@mixin transition($time) {
  -webkit-transition: all ease-in-out $time;
  -moz-transition: all ease-in-out $time;
  -o-transition: all ease-in-out $time;
  transition: all ease-in-out $time;
}
@mixin change-large-screen {
  @media only screen and (max-width: 1161px) {
    @content;
  }
}
@mixin change-small-screen {
  @media only screen and (max-width: 991px) {
    @content;
  }
}
@mixin change-xs-screen {
  @media only screen and (max-width: 400px) {
    @content;
  }
}
.list_style {
  color: #d0d0d0;
  font-weight: 500;
  padding-top: 30px;
}
$blackColor: #000000;
$whiteColor: #ffffff;
$greyColor: #d0d0d0;
$fontSize18: 18px;
$fontSize20: 20px;
$fontSize22: 22px;
$fontSize24: 24px;
$paddingTop16: 16px;
$paddingBottom16: 16px;
// -------------------------------------------------------------------------------------------------------------- GLOBAL
.no-margin {margin: 0 !important}
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
.left {float: left;}
.right {float: right;}
a {
  &:hover {
    text-decoration: none;
  }
}
body,
#mobile_body {
  font-family: Times, sans-serif;
}
#portfolio_container,
#price_container,
#contacts_container,
#address_container,
#studio,
#report,
#world,
#things {
  display: none;
}
.col-md-9 {
  max-width: 74%;
  margin-top: 20px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.90);
  padding: 50px 25px 25px 10px;
  color: #797979;
}
.selected {
  background-color: $whiteColor;
  color: $blackColor;
  @include transition(.1s);
  width: 100%;
}
#mobile_body_main #mobile_menu .dropdown-portfolio li:active,
#mobile_body_main #mobile_menu .dropdown-portfolio li a:active {
  background-color: $whiteColor !important;
  color: $blackColor !important;
  @include transition(.2s);
}
// ------------------------------------------------------------------------------------------------------------- SIDEBAR

#bg_photo {
  background-image: url(../images/bg_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.logo_img {
  margin-top: 80px;
  @include change-large-screen {
    max-width: 90%;
  }
}
/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
#menu {
  padding-top: 122px;
  padding-bottom: 90px;
  margin-left: 30px;
  @include change-small-screen {
    margin-left: 0px;
    padding-bottom: 140px;
  }

  li {
    overflow:hidden;
    padding-bottom:4px;
    text-align: center;
    a {
      font-size: 26px;
      line-height: 50px;
      color: $whiteColor;
      background: $blackColor;
      text-decoration: none;
      position: relative;
      letter-spacing: 1px;
      cursor: pointer;
      @include transition(.4s);
      &:hover {
        background-color: $whiteColor;
        color: $blackColor;
        @include transition(.3s);
      }
      @include change-small-screen {
        font-size: $fontSize20;
      }
    }
  }
}
.navbar-default {
  background-color: transparent;
  border: none;
}
// ------------------------------------------------------------------------------------------------- PORTFOLIO CONTAINER
.wrapper {max-width:100%; overflow-y: hidden;}
.wrapper .scrollable {overflow-y: scroll;}
#portfolio_container {
  .col-md-9 {
    max-width: 74%;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.90);
    padding: 50px 25px 25px 10px;
    .tab-content {
      .scrollable {
        overflow-y: scroll;
        max-height: 665px;
      }
      figure {
        padding-bottom:0px;
        margin: 5px;
        img {
          border: 1px solid rgba(255, 255, 255, 0.51);
        }
      }
    }
    #portfolio_nav {
      padding-top:15px;
      li {
      line-height: 34px;
      padding-bottom: 2px;
        a {
          position:relative;
          font-size:14px;
          letter-spacing:2px;
          text-transform:uppercase;
          text-decoration:none;
          height:28px;
          line-height:26px;
          padding: 1px 10px 0 9px;
          color: $whiteColor;
          display:inline-block;
          width: 100%;
          @include transition(.3s);
          &:hover,
          &.active {
            background-color: $whiteColor;
            color: $blackColor;
            @include transition(.1s);
            width: 100%;
          }
          @include change-small-screen {
            font-size: 12px;
            padding-right: 2px;
          }
        }
      }
    }
  }
}
// ----------------------------------------------------------------------------------------------------- PRICE CONTAINER
#price_container {
  font-size: $fontSize18;
  .col-md-9 {
    padding-left: 25px;
  }
  ul {
    text-align: center;
    line-height: 22px;
    .list_title {
      @extend .list_style;
      font-size: $fontSize22;
      padding-top: 30px;
    }
    .list_title_2 {
      @extend .list_style;
      font-size: $fontSize20;
      padding-bottom: 10px;
    }
    .list_result {
      text-align: left;
      padding-top: 15px;
    }
  }
  p {
    padding-top: 50px;
    padding-bottom: 220px;
    @include change-small-screen {
      padding-bottom: 150px;
    }
  }
}
// -------------------------------------------------------------------------------------------------- CONTACTS CONTAINER
  #contacts_container {
    line-height: 22px;
    font-size: $fontSize18;
    .col-md-9 {
      padding-left: 25px;
    }
    #contacts_img_section {
      margin-top: 30px;
      padding-bottom: 310px;
      @include change-small-screen {
        padding-bottom: 170px;
      }
      img {
        padding: 0px 25px 25px 0px;
      }
      p {
        padding-bottom: 20px;
      }
    }
    .mail_text {
      text-align: center;
      max-width: 200px;
      a {
        color: $greyColor;
        display: block;
        @include transition(.3s);
        &:hover {
          color: $blackColor;
          background-color: $whiteColor;
          @include transition(.1s);
        }
      }
    }
  }
// --------------------------------------------------------------------------------------------------- ADDRESS CONTAINER
#address_container {
  text-align: center;
  h2 {
    @extend .list_style;
    padding-top: 0;
    font-size: $fontSize22;
  }
  p {
    font-size: $fontSize18;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #map {
    margin: 0 auto;
    width: 100%;
    height: 585px;
  }
}
/* ---------------------------------------------------------------------------------------------------------------------
====================================================== MOBILE HTML =====================================================
--------------------------------------------------------------------------------------------------------------------- */
#mobile_portfolio_container,
#mobile_price_container,
#mobile_contacts_container,
#mobile_address_container,
#mobile_plener_page,
#mobile_studio_page,
#mobile_report_page,
#mobile_world_page,
#mobile_things_page {
  background-image: url(../images/m_bg_black.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left top;
  background-attachment: fixed;
  font-size: $fontSize18;
  color: #8b8b8b;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  .mobile_logo_img {
    max-width: 70%;
    margin-bottom: 5px;
    padding-top: $paddingTop16;
  }
}
// -------------------------------------------------------------------------------------------------- MOBILE MAIN SCREEN
#mobile_body_main {
  background-image: url(../images/m_bg_white.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left top;
  background-attachment: fixed;
  .mobile_logo_img {
    max-width: 90%;
    margin-bottom: 35px;
    padding-top: $paddingTop16;
  }
  #mobile_menu {
    padding-right: 16px;
    padding-left: 16px;
    display: block;
    padding-top: 0px;
    margin-bottom: 16px;
    li {
      padding-bottom: 4px;
      text-align: center;
      a {
        font-size: $fontSize24;
        line-height: 50px;
        color: $whiteColor;
        background: $blackColor;
        letter-spacing: 1px;
        cursor: pointer;
        @include transition(.4s);
        &:active {
          background-color: $whiteColor;
          color: $blackColor;
          @include transition(.3s);
        }
      }
    }
    .dropdown-portfolio {
      display: none;
      height: 0px;
      li {
        background-color: $blackColor;
        margin: 0px 48px 1px 48px;
        @include transition(.3s);
        a {
          font-size: $fontSize20;
          background: transparent !important;
          &:active,
          &:hover {
            color: $blackColor;
          }
        }
      }
    }
  }
}
// -------------------------------------------------------------------------------------------------------- MOBILE PAGES
#mobile_body {
  background-image: url(../images/m_bg_black.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left top;
  background-attachment: fixed;
  .modal-dialog {
    margin: 5px auto;
  }
  .modal-body,
  .modal-header {
    background-color: $blackColor;
  }
  .close {
    color: $whiteColor;
    filter: alpha(opacity=20);
    opacity: .2;
  }
  .close:hover,
  .close:focus {
    color: #bebebe;
    filter: alpha(opacity=50);
    opacity: .5;
  }
  .mobile_logo_img {
    max-width: 90%;
    margin-bottom: 35px;
    padding-top: $paddingTop16;
  }
// ---------------------------------------------------------------------------------------------------- MOBILE PORTFOLIO
  #mobile_portfolio_page {
      img {
        @include change-xs-screen {
          max-width: 160px !important;
        }
      }
    .carousel-inner {
      img {
        @include change-xs-screen {
          max-width: 100% !important;
        }
      }
    }
  }
// ------------------------------------------------------------------------------------------------------- MOBILE PRICES
  #mobile_price_container {
    ul {
      line-height: 22px;
      .list_title {
        color: $greyColor;
        font-size: $fontSize22;
        padding-top: $paddingTop16;
        padding-bottom: 10px;
      }
      .list_title_2 {
        color: $greyColor;
        font-size: $fontSize18;
        padding-bottom: 10px;
      }
      .list_result {
        padding-top: $paddingTop16;
      }
    }
    p {
      padding-top: 30px;
      padding-bottom: $paddingBottom16;
      text-align: left;
      }
    }
// ----------------------------------------------------------------------------------------------------- MOBILE CONTACTS
  #mobile_contacts_container {
    text-align: center;
    img {
      padding-bottom: $paddingBottom16;
    }
    .mail_text {
      max-width: 200px;
      padding-bottom: 5px;
      margin: 0 auto;
      a {
        color: $greyColor;
        display: block;
        text-decoration: underline;
        @include transition(.3s);
        &:hover {
          color: $blackColor;
          background-color: $whiteColor;
          @include transition(.1s);
        }
      }
    }
    .quote {
      font-style: italic;
      text-align: center;
      padding-top: 25px;
      padding-bottom: $paddingBottom16;
    }
    p {
      text-align: left;
      padding-bottom: $paddingBottom16;
    }
  }
// ---------------------------------------------------------------------------------------------------------- MOBILE MAP
  #mobile_address_container {
    line-height: 22px;
    h2 {
      color: $greyColor;
      font-size: $fontSize24;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    ul {
      text-align: left;
      .m_studio_title {
        padding-top: 35px;
        padding-bottom: 5px;
        a {
          color: $greyColor;
          font-size: $fontSize22;
          text-decoration: underline;
        }
      }
      .m_tel_studio {
        a {
          color: #4d618b;
          text-decoration: underline;
        }
      }
      li:last-child {
        padding-bottom: $paddingBottom16;
      }
    }
  }
// ------------------------------------------------------------------------------------------------------- MOBILE PLENER
  #mobile_plener_page {
    background-color: $blackColor;
    .img-container {
      figure {
        display: inline-block;
      }
    }
  }
}
/* ---------------------------------------------------------------------------------------------------------------------
====================================================== GALLERY =====================================================
--------------------------------------------------------------------------------------------------------------------- */
body .modal-dialog {
  max-width: 100%;
  width: auto !important;
  display: inline-block;
}
.modal.in{
   text-align: center;
 }
.modal-body {
  padding: 7px !important;
}
@media only screen and (min-width: 769px) {
  .modal-header {
    display: none;
  }
  .modal-dialog {
     margin: 20px auto !important;
   }
}





