@import "compass", "compass/reset", "compass/css3/font-face", "media-queries", "compass/css3/background-size", "compass/css3/border-radius", "compass/css3/transition";

//@include font-face("???", font-files("???.ttf"));

@mixin transition($time) {
  -webkit-transition: all ease-in-out $time;
  -moz-transition: all ease-in-out $time;
  -o-transition: all ease-in-out $time;
  transition: all ease-in-out $time;
}

@mixin change-large-screen {
  @media only screen and (max-width: 1161px) {
    @content;
  }
}
@mixin change-small-screen {
  @media only screen and (max-width: 991px) {
    @content;
  }
}

.list_style {
  color: #d0d0d0;
  font-weight: 500;
  padding-top: 30px;
}

// -------------------------------------------------------------------------------------------------------------- GLOBAL
.no-margin {margin: 0 !important}
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
.left {float: left;}
.right {float: right;}
a {
  &:hover {
    text-decoration: none;
  }
}

body,
#mobile_body {
  font-family: Times, sans-serif;
}


#portfolio_container,
#price_container,
#contacts_container,
#address_container,
#studio,
#report,
#world,
#things {
  display: none;
}

.col-md-9 {
  max-width: 74%;
  margin-top: 20px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.90);
  padding: 50px 25px 25px 10px;
  color: #797979;
}


.selected {
  background-color: #ffffff;
  color: #000000;
  @include transition(.1s);
  width: 100%;
}

// ------------------------------------------------------------------------------------------------------------- SIDEBAR

#bg_photo {
  background-image: url(../images/bg_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.logo_img {
  margin-top: 80px;
  @include change-large-screen {
    max-width: 90%;
  }
}

/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
#menu {
  padding-top: 122px;
  padding-bottom: 90px;
  margin-left: 30px;
  @include change-small-screen {
    margin-left: 0px;
    padding-bottom: 140px;
  }

  li {
    overflow:hidden;
    padding-bottom:4px;
    text-align: center;
    a {
      font-size: 26px;
      line-height: 50px;
      color: #fff;
      background: #000;
      text-decoration: none;
      position: relative;
      letter-spacing: 1px;
      cursor: pointer;
      @include transition(.4s);
      &:hover {
        background-color: #ffffff;
        color: #000000;
        @include transition(.3s);
      }
      @include change-small-screen {
        font-size: 20px;
      }
    }
  }
}
.navbar-default {
  background-color: transparent;
  border: none;
}

// ------------------------------------------------------------------------------------------------- PORTFOLIO CONTAINER
.wrapper {max-width:100%; overflow-y: hidden;}

.wrapper .scrollable {overflow-y: scroll;}

#portfolio_container {
  .col-md-9 {
    max-width: 74%;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.90);
    padding: 50px 25px 25px 10px;
    .tab-content {
      .scrollable {
        overflow-y: scroll;
        max-height: 665px;
      }
      figure {
        padding-bottom:0px;
        margin: 5px;
        img {
          border: 1px solid rgba(255, 255, 255, 0.51);
        }
      }
    }
    #portfolio_nav {
      padding-top:15px;
      li {
      line-height: 34px;
      padding-bottom: 2px;
        a {
          position:relative;
          font-size:14px;
          letter-spacing:2px;
          text-transform:uppercase;
          text-decoration:none;
          height:28px;
          line-height:26px;
          padding: 1px 10px 0 9px;
          color:#fff;
          display:inline-block;
          width: 100%;
          @include transition(.3s);
          &:hover,
          &.active {
            background-color: #ffffff;
            color: #000000;
            @include transition(.1s);
            width: 100%;
          }
          @include change-small-screen {
            font-size: 12px;
            padding-right: 2px;
          }
        }
      }
    }
  }
}

// ----------------------------------------------------------------------------------------------------- PRICE CONTAINER

#price_container {
  font-size: 18px;
  .col-md-9 {
    padding-left: 25px;
  }
  ul {
    text-align: center;
    line-height: 22px;
    .list_title {
      @extend .list_style;
      font-size: 22px;
      padding-top: 30px;
    }
    .list_title_2 {
      @extend .list_style;
      font-size: 20px;
      padding-bottom: 10px;
    }
    .list_result {
      text-align: left;
      padding-top: 15px;
    }
  }
  p {
    padding-top: 50px;
    padding-bottom: 220px;
    @include change-small-screen {
      padding-bottom: 150px;
    }
  }
}


// -------------------------------------------------------------------------------------------------- CONTACTS CONTAINER
  #contacts_container {
    line-height: 22px;
    font-size: 18px;
    .col-md-9 {
      padding-left: 25px;
    }
    #contacts_img_section {
      margin-top: 30px;
      padding-bottom: 310px;
      @include change-small-screen {
        padding-bottom: 170px;
      }
      img {
        padding: 0px 25px 25px 0px;
      }
      p {
        padding-bottom: 20px;
      }
    }
    .mail_text {
      text-align: center;
      max-width: 200px;
      a {
        color: #d0d0d0;
        display: block;
        @include transition(.3s);
        &:hover {
          color: #000;
          background-color: #fff;
          @include transition(.1s);
        }
      }
    }
  }


// --------------------------------------------------------------------------------------------------- ADDRESS CONTAINER
#address_container {
  text-align: center;
  h2 {
    @extend .list_style;
    padding-top: 0;
    font-size: 22px;
  }
  p {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #map {
    margin: 0 auto;
    width: 100%;
    height: 585px;
  }
}




/* ---------------------------------------------------------------------------------------------------------------------
====================================================== MOBILE HTML =====================================================
--------------------------------------------------------------------------------------------------------------------- */
#mobile_portfolio_container,
#mobile_price_container,
#mobile_contacts_container,
#mobile_address_container,
#mobile_plener_page,
#mobile_studio_page,
#mobile_report_page,
#mobile_world_page,
#mobile_things_page {
  background-image: url(../images/m_bg_black.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left top;
  background-attachment: fixed;
  font-size: 18px;
  color: #8b8b8b;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  .mobile_logo_img {
    max-width: 70%;
    margin-bottom: 5px;
    padding-top: 16px;
  }
}

#mobile_body {
  background-image: url(../images/m_bg_white.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left top;
  background-attachment: fixed;
  .mobile_logo_img {
    max-width: 90%;
    margin-bottom: 35px;
    padding-top: 16px;
  }
  #mobile_menu {
    padding-right: 16px;
    padding-left: 16px;
    display: block;
    padding-top: 0px;
    margin-bottom: 16px;
    .dropdown-portfolio {
      display: none;
      height: 0px;
      li {
        background-color: #000;
        margin: 0px 48px 1px 48px;
        a {
          font-size: 20px;
          @include transition(.4s);
          &:active {
            background-color: #ffffff;
            color: #000000;
            @include transition(.3s);
          }
        }
      }
    }
    li {
      padding-bottom:4px;
      text-align: center;
      a {
        font-size: 24px;
        line-height: 50px;
        color: #fff;
        background: #000;
        letter-spacing: 1px;
        cursor: pointer;
        @include transition(.4s);
        &:active {
          background-color: #ffffff;
          color: #000000;
          @include transition(.3s);
        }
      }
    }
  }




// ---------------------------------------------------------------------------------------------------- MOBILE PORTFOLIO
  #mobile_portfolio_container {

  }

// ------------------------------------------------------------------------------------------------------- MOBILE PRICES
  #mobile_price_container {
    ul {
      line-height: 22px;
      .list_title {
        color: #d0d0d0;
        font-size: 22px;
        padding-top: 16px;
        padding-bottom: 10px;
      }
      .list_title_2 {
        color: #d0d0d0;
        font-size: 18px;
        padding-bottom: 10px;
      }
      .list_result {
        padding-top: 16px;
      }
    }
    p {
      padding-top: 30px;
      padding-bottom: 16px;
      text-align: left;
      }
    }

// ----------------------------------------------------------------------------------------------------- MOBILE CONTACTS
  #mobile_contacts_container {
    text-align: center;
    img {
      padding-bottom: 16px;
    }
    .mail_text {
      max-width: 200px;
      padding-bottom: 5px;
      margin: 0 auto;
      a {
        color: #d0d0d0;
        display: block;
        text-decoration: underline;
        @include transition(.3s);
        &:hover {
          color: #000;
          background-color: #fff;
          @include transition(.1s);
        }
      }
    }
    .quote {
      font-style: italic;
      text-align: center;
      padding-top: 25px;
      padding-bottom: 16px;
    }
    p {
      text-align: left;
      padding-bottom: 16px;
    }
  }

// ---------------------------------------------------------------------------------------------------------- MOBILE MAP
  #mobile_address_container {
    line-height: 22px;
    h2 {
      color: #d0d0d0;
      font-size: 24px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    ul {
      text-align: left;
      .m_studio_title {
        padding-top: 35px;
        padding-bottom: 5px;
        a {
          color: #d0d0d0;
          font-size: 22px;
          text-decoration: underline;
        }
      }
      .m_tel_studio {
        a {
          color: #4d618b;
          text-decoration: underline;
        }
      }
      li:last-child {
        padding-bottom: 16px;
      }
    }
  }
// ------------------------------------------------------------------------------------------------------- MOBILE PLENER
  #mobile_plener_page {
    background-color: #000;
    .img-container {
      figure {
        display: inline-block;
      }
    }
  }
}



// ------------------------------------------------------------------------------------------------------------- GALLERY




