/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 23, ../sass/stylesheet.scss */
.list_style, #price_container ul .list_title, #price_container ul .list_title_2, #address_container h2 {
  color: #d0d0d0;
  font-weight: 500;
  padding-top: 30px;
}

/* line 38, ../sass/stylesheet.scss */
html {
  height: 100%;
}

/* line 41, ../sass/stylesheet.scss */
.no-margin {
  margin: 0 !important;
}

/* line 42, ../sass/stylesheet.scss */
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/* line 46, ../sass/stylesheet.scss */
.left {
  float: left;
}

/* line 47, ../sass/stylesheet.scss */
.right {
  float: right;
}

/* line 49, ../sass/stylesheet.scss */
a:hover {
  text-decoration: none;
}

/* line 53, ../sass/stylesheet.scss */
body,
#mobile_body {
  font-family: Times, sans-serif;
}

/* line 57, ../sass/stylesheet.scss */
#portfolio_container,
#price_container,
#contacts_container,
#address_container,
#studio,
#report,
#world,
#things {
  display: none;
}

/* line 67, ../sass/stylesheet.scss */
.col-md-9 {
  max-width: 74%;
  margin-top: 20px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.9);
  padding: 50px 25px 25px 10px;
  color: #797979;
}

/* line 75, ../sass/stylesheet.scss */
.selected {
  background-color: #ffffff;
  color: #000000;
  -webkit-transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  width: 100%;
}

/* line 81, ../sass/stylesheet.scss */
#mobile_body_main #mobile_menu .dropdown-portfolio li:active,
#mobile_body_main #mobile_menu .dropdown-portfolio li a:active {
  background-color: #ffffff !important;
  color: #000000 !important;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

/* line 89, ../sass/stylesheet.scss */
#bg_photo {
  background-image: url(../images/bg_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

/* line 95, ../sass/stylesheet.scss */
.logo_img {
  margin-top: 80px;
}
@media only screen and (max-width: 1161px) {
  /* line 95, ../sass/stylesheet.scss */
  .logo_img {
    max-width: 90%;
  }
}

/* make sidebar nav vertical */
@media (min-width: 768px) {
  /* line 103, ../sass/stylesheet.scss */
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }

  /* line 107, ../sass/stylesheet.scss */
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }

  /* line 111, ../sass/stylesheet.scss */
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }

  /* line 115, ../sass/stylesheet.scss */
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
/* line 120, ../sass/stylesheet.scss */
#menu {
  padding-top: 122px;
  padding-bottom: 90px;
  margin-left: 30px;
}
@media only screen and (max-width: 991px) {
  /* line 120, ../sass/stylesheet.scss */
  #menu {
    margin-left: 0px;
    padding-bottom: 140px;
  }
}
/* line 129, ../sass/stylesheet.scss */
#menu li {
  overflow: hidden;
  padding-bottom: 4px;
  text-align: center;
}
/* line 133, ../sass/stylesheet.scss */
#menu li a {
  font-size: 26px;
  line-height: 50px;
  color: #ffffff;
  background: #000000;
  text-decoration: none;
  position: relative;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
/* line 143, ../sass/stylesheet.scss */
#menu li a:hover {
  background-color: #ffffff;
  color: #000000;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
@media only screen and (max-width: 991px) {
  /* line 133, ../sass/stylesheet.scss */
  #menu li a {
    font-size: 20px;
  }
}

/* line 154, ../sass/stylesheet.scss */
.navbar-default {
  background-color: transparent;
  border: none;
}

/* line 159, ../sass/stylesheet.scss */
.wrapper {
  max-width: 100%;
  overflow-y: hidden;
}

/* line 160, ../sass/stylesheet.scss */
.wrapper .scrollable {
  overflow-y: scroll;
}

/* line 162, ../sass/stylesheet.scss */
#portfolio_container .col-md-9 {
  max-width: 74%;
  margin-top: 20px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.9);
  padding: 50px 25px 25px 10px;
}
/* line 169, ../sass/stylesheet.scss */
#portfolio_container .col-md-9 .tab-content .scrollable {
  overflow-y: scroll;
  max-height: 665px;
}
/* line 173, ../sass/stylesheet.scss */
#portfolio_container .col-md-9 .tab-content figure {
  padding-bottom: 0px;
  margin: 5px;
}
/* line 176, ../sass/stylesheet.scss */
#portfolio_container .col-md-9 .tab-content figure img {
  border: 1px solid rgba(255, 255, 255, 0.51);
}
/* line 181, ../sass/stylesheet.scss */
#portfolio_container .col-md-9 #portfolio_nav {
  padding-top: 15px;
}
/* line 183, ../sass/stylesheet.scss */
#portfolio_container .col-md-9 #portfolio_nav li {
  line-height: 34px;
  padding-bottom: 2px;
}
/* line 186, ../sass/stylesheet.scss */
#portfolio_container .col-md-9 #portfolio_nav li a {
  position: relative;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  height: 28px;
  line-height: 26px;
  padding: 1px 10px 0 9px;
  color: #ffffff;
  display: inline-block;
  width: 100%;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
/* line 199, ../sass/stylesheet.scss */
#portfolio_container .col-md-9 #portfolio_nav li a:hover, #portfolio_container .col-md-9 #portfolio_nav li a.active {
  background-color: #ffffff;
  color: #000000;
  -webkit-transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  /* line 186, ../sass/stylesheet.scss */
  #portfolio_container .col-md-9 #portfolio_nav li a {
    font-size: 12px;
    padding-right: 2px;
  }
}

/* line 216, ../sass/stylesheet.scss */
#price_container {
  font-size: 18px;
}
/* line 218, ../sass/stylesheet.scss */
#price_container .col-md-9 {
  padding-left: 25px;
}
/* line 221, ../sass/stylesheet.scss */
#price_container ul {
  text-align: center;
  line-height: 22px;
}
/* line 224, ../sass/stylesheet.scss */
#price_container ul .list_title {
  font-size: 22px;
  padding-top: 30px;
}
/* line 229, ../sass/stylesheet.scss */
#price_container ul .list_title_2 {
  font-size: 20px;
  padding-bottom: 10px;
}
/* line 234, ../sass/stylesheet.scss */
#price_container ul .list_result {
  text-align: left;
  padding-top: 15px;
}
/* line 239, ../sass/stylesheet.scss */
#price_container p {
  padding-top: 50px;
  padding-bottom: 220px;
}
@media only screen and (max-width: 991px) {
  /* line 239, ../sass/stylesheet.scss */
  #price_container p {
    padding-bottom: 150px;
  }
}

/* line 248, ../sass/stylesheet.scss */
#contacts_container {
  line-height: 22px;
  font-size: 18px;
}
/* line 251, ../sass/stylesheet.scss */
#contacts_container .col-md-9 {
  padding-left: 25px;
}
/* line 254, ../sass/stylesheet.scss */
#contacts_container #contacts_img_section {
  margin-top: 30px;
  padding-bottom: 310px;
}
@media only screen and (max-width: 991px) {
  /* line 254, ../sass/stylesheet.scss */
  #contacts_container #contacts_img_section {
    padding-bottom: 170px;
  }
}
/* line 260, ../sass/stylesheet.scss */
#contacts_container #contacts_img_section img {
  padding: 0px 25px 25px 0px;
}
/* line 263, ../sass/stylesheet.scss */
#contacts_container #contacts_img_section p {
  padding-bottom: 20px;
}
/* line 267, ../sass/stylesheet.scss */
#contacts_container .mail_text {
  text-align: center;
  max-width: 200px;
}
/* line 270, ../sass/stylesheet.scss */
#contacts_container .mail_text a {
  color: #d0d0d0;
  display: block;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
/* line 274, ../sass/stylesheet.scss */
#contacts_container .mail_text a:hover {
  color: #000000;
  background-color: #ffffff;
  -webkit-transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

/* line 283, ../sass/stylesheet.scss */
#address_container {
  text-align: center;
}
/* line 285, ../sass/stylesheet.scss */
#address_container h2 {
  padding-top: 0;
  font-size: 22px;
}
/* line 290, ../sass/stylesheet.scss */
#address_container p {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 295, ../sass/stylesheet.scss */
#address_container #map {
  margin: 0 auto;
  width: 100%;
  height: 585px;
}

/* ---------------------------------------------------------------------------------------------------------------------
====================================================== MOBILE HTML =====================================================
--------------------------------------------------------------------------------------------------------------------- */
/* line 304, ../sass/stylesheet.scss */
#mobile_portfolio_container,
#mobile_price_container,
#mobile_contacts_container,
#mobile_address_container,
#mobile_plener_page,
#mobile_studio_page,
#mobile_report_page,
#mobile_world_page,
#mobile_things_page {
  background-image: url(../images/m_bg_black.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left top;
  background-attachment: fixed;
  font-size: 18px;
  color: #8b8b8b;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}
/* line 323, ../sass/stylesheet.scss */
#mobile_portfolio_container .mobile_logo_img,
#mobile_price_container .mobile_logo_img,
#mobile_contacts_container .mobile_logo_img,
#mobile_address_container .mobile_logo_img,
#mobile_plener_page .mobile_logo_img,
#mobile_studio_page .mobile_logo_img,
#mobile_report_page .mobile_logo_img,
#mobile_world_page .mobile_logo_img,
#mobile_things_page .mobile_logo_img {
  max-width: 70%;
  margin-bottom: 5px;
  padding-top: 16px;
}

/* line 330, ../sass/stylesheet.scss */
#mobile_body_main {
  background-image: url(../images/m_bg_white.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left top;
  background-attachment: fixed;
}
/* line 336, ../sass/stylesheet.scss */
#mobile_body_main .mobile_logo_img {
  max-width: 90%;
  margin-bottom: 35px;
  padding-top: 16px;
}
/* line 341, ../sass/stylesheet.scss */
#mobile_body_main #mobile_menu {
  padding-right: 16px;
  padding-left: 16px;
  display: block;
  padding-top: 0px;
  margin-bottom: 16px;
}
/* line 347, ../sass/stylesheet.scss */
#mobile_body_main #mobile_menu li {
  padding-bottom: 4px;
  text-align: center;
}
/* line 350, ../sass/stylesheet.scss */
#mobile_body_main #mobile_menu li a {
  font-size: 24px;
  line-height: 50px;
  color: #ffffff;
  background: #000000;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}
/* line 358, ../sass/stylesheet.scss */
#mobile_body_main #mobile_menu li a:active {
  background-color: #ffffff;
  color: #000000;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
/* line 365, ../sass/stylesheet.scss */
#mobile_body_main #mobile_menu .dropdown-portfolio {
  display: none;
  height: 0px;
}
/* line 368, ../sass/stylesheet.scss */
#mobile_body_main #mobile_menu .dropdown-portfolio li {
  background-color: #000000;
  margin: 0px 48px 1px 48px;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
/* line 372, ../sass/stylesheet.scss */
#mobile_body_main #mobile_menu .dropdown-portfolio li a {
  font-size: 20px;
  background: transparent !important;
}
/* line 375, ../sass/stylesheet.scss */
#mobile_body_main #mobile_menu .dropdown-portfolio li a:active, #mobile_body_main #mobile_menu .dropdown-portfolio li a:hover {
  color: #000000;
}

/* line 385, ../sass/stylesheet.scss */
#mobile_body {
  background-image: url(../images/m_bg_black.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left top;
  background-attachment: fixed;
}
/* line 391, ../sass/stylesheet.scss */
#mobile_body .modal-dialog {
  margin: 5px auto;
}
/* line 394, ../sass/stylesheet.scss */
#mobile_body .modal-body,
#mobile_body .modal-header {
  background-color: #000000;
}
/* line 398, ../sass/stylesheet.scss */
#mobile_body .close {
  color: #ffffff;
  filter: alpha(opacity=20);
  opacity: .2;
}
/* line 403, ../sass/stylesheet.scss */
#mobile_body .close:hover,
#mobile_body .close:focus {
  color: #bebebe;
  filter: alpha(opacity=50);
  opacity: .5;
}
/* line 409, ../sass/stylesheet.scss */
#mobile_body .mobile_logo_img {
  max-width: 90%;
  margin-bottom: 35px;
  padding-top: 16px;
}
@media only screen and (max-width: 400px) {
  /* line 416, ../sass/stylesheet.scss */
  #mobile_body #mobile_portfolio_page img {
    max-width: 160px !important;
  }
}
@media only screen and (max-width: 400px) {
  /* line 422, ../sass/stylesheet.scss */
  #mobile_body #mobile_portfolio_page .carousel-inner img {
    max-width: 100% !important;
  }
}
/* line 431, ../sass/stylesheet.scss */
#mobile_body #mobile_price_container ul {
  line-height: 22px;
}
/* line 433, ../sass/stylesheet.scss */
#mobile_body #mobile_price_container ul .list_title {
  color: #d0d0d0;
  font-size: 22px;
  padding-top: 16px;
  padding-bottom: 10px;
}
/* line 439, ../sass/stylesheet.scss */
#mobile_body #mobile_price_container ul .list_title_2 {
  color: #d0d0d0;
  font-size: 18px;
  padding-bottom: 10px;
}
/* line 444, ../sass/stylesheet.scss */
#mobile_body #mobile_price_container ul .list_result {
  padding-top: 16px;
}
/* line 448, ../sass/stylesheet.scss */
#mobile_body #mobile_price_container p {
  padding-top: 30px;
  padding-bottom: 16px;
  text-align: left;
}
/* line 455, ../sass/stylesheet.scss */
#mobile_body #mobile_contacts_container {
  text-align: center;
}
/* line 457, ../sass/stylesheet.scss */
#mobile_body #mobile_contacts_container img {
  padding-bottom: 16px;
}
/* line 460, ../sass/stylesheet.scss */
#mobile_body #mobile_contacts_container .mail_text {
  max-width: 200px;
  padding-bottom: 5px;
  margin: 0 auto;
}
/* line 464, ../sass/stylesheet.scss */
#mobile_body #mobile_contacts_container .mail_text a {
  color: #d0d0d0;
  display: block;
  text-decoration: underline;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
/* line 469, ../sass/stylesheet.scss */
#mobile_body #mobile_contacts_container .mail_text a:hover {
  color: #000000;
  background-color: #ffffff;
  -webkit-transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}
/* line 476, ../sass/stylesheet.scss */
#mobile_body #mobile_contacts_container .quote {
  font-style: italic;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 16px;
}
/* line 482, ../sass/stylesheet.scss */
#mobile_body #mobile_contacts_container p {
  text-align: left;
  padding-bottom: 16px;
}
/* line 488, ../sass/stylesheet.scss */
#mobile_body #mobile_address_container {
  line-height: 22px;
}
/* line 490, ../sass/stylesheet.scss */
#mobile_body #mobile_address_container h2 {
  color: #d0d0d0;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 496, ../sass/stylesheet.scss */
#mobile_body #mobile_address_container ul {
  text-align: left;
}
/* line 498, ../sass/stylesheet.scss */
#mobile_body #mobile_address_container ul .m_studio_title {
  padding-top: 35px;
  padding-bottom: 5px;
}
/* line 501, ../sass/stylesheet.scss */
#mobile_body #mobile_address_container ul .m_studio_title a {
  color: #d0d0d0;
  font-size: 22px;
  text-decoration: underline;
}
/* line 508, ../sass/stylesheet.scss */
#mobile_body #mobile_address_container ul .m_tel_studio a {
  color: #4d618b;
  text-decoration: underline;
}
/* line 513, ../sass/stylesheet.scss */
#mobile_body #mobile_address_container ul li:last-child {
  padding-bottom: 16px;
}
/* line 519, ../sass/stylesheet.scss */
#mobile_body #mobile_plener_page {
  background-color: #000000;
}
/* line 522, ../sass/stylesheet.scss */
#mobile_body #mobile_plener_page .img-container figure {
  display: inline-block;
}

/* ---------------------------------------------------------------------------------------------------------------------
====================================================== GALLERY =====================================================
--------------------------------------------------------------------------------------------------------------------- */
/* line 531, ../sass/stylesheet.scss */
body .modal-dialog {
  max-width: 100%;
  width: auto !important;
  display: inline-block;
}

/* line 536, ../sass/stylesheet.scss */
.modal.in {
  text-align: center;
}

/* line 539, ../sass/stylesheet.scss */
.modal-body {
  padding: 7px !important;
}

@media only screen and (min-width: 769px) {
  /* line 543, ../sass/stylesheet.scss */
  .modal-header {
    display: none;
  }

  /* line 546, ../sass/stylesheet.scss */
  .modal-dialog {
    margin: 20px auto !important;
  }
}
